<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Home Page</title>
  </head>
  <body>
    <a href="/books">Browse Books</a>
    <a href="books/new">Add a Book</a>
    <h1>Book Space</h1>
    <h3>Welcome Aboard!</h3>
    <p>
      You've entered a world where gravity is optional, and imagination knows no
      bounds.
    </p>
  </body>
</html>
